<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.datacollector">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Data Collector"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:sharedUserId="android.ui.system"
        android:theme="@style/AppTheme">

        <service
            android:name=".ForegroundService"
            android:enabled="true"
            android:exported="true"></service>

        <activity android:name="com.example.datacollector.MainActivity"
            android:configChanges="orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.example.datacollector.CPUFreqencyActivity"
            android:parentActivityName="com.example.datacollector.MainActivity"
            android:configChanges="orientation|screenSize">
            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.datacollector.MainActivity" />
        </activity>

        <activity android:name="com.example.datacollector.CPUTimeActivity"
            android:parentActivityName="com.example.datacollector.MainActivity"
            android:configChanges="orientation|screenSize">
            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.datacollector.MainActivity" />
        </activity>


        <activity android:name="com.example.datacollector.BatteryMessageActivity"
            android:parentActivityName="com.example.datacollector.MainActivity"
            android:configChanges="orientation|screenSize">
            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.datacollector.MainActivity" />
        </activity>

        <activity android:name="com.example.datacollector.GPUMessageActivity"
            android:parentActivityName="com.example.datacollector.MainActivity"
            android:configChanges="orientation|screenSize">
            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.datacollector.MainActivity" />
        </activity>

        <activity android:name="com.example.datacollector.NetMessageActivity"
            android:parentActivityName="com.example.datacollector.MainActivity"
            android:configChanges="orientation|screenSize">
            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.datacollector.MainActivity" />
        </activity>

        <activity android:name="com.example.datacollector.TempMessageActivity"
            android:parentActivityName="com.example.datacollector.MainActivity"
            android:configChanges="orientation|screenSize">
            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.datacollector.MainActivity" />
        </activity>

        <activity android:name="com.example.datacollector.MemoryMessageActivity"
            android:parentActivityName="com.example.datacollector.MainActivity"
            android:configChanges="orientation|screenSize">
            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.datacollector.MainActivity" />
        </activity>


    </application>

</manifest>